{% extends 'home.html' %}

{% block check %}

{% if success %}
<div class="alert alert-success">
    <strong>Info!</strong> {{ success }}
</div>
{% endif %}

{% if info %}
<div class="alert alert-info">
    <strong>Info!</strong> {{ info }}
    <div class="input-group-append">
        {% if user_exists %}
        <form action="/delete_user" method="post">
            <button type="submit" class="btn btn-outline-secondary">Delete user</button>
        </form>
        {% endif %}
        {% if no_user %}
        <form action="/adduser" method="post">
            <button type="submit" class="btn btn-outline-info">Add user</button>
        </form>
        {% endif %}
        {% if no_locker %}
        <form action="/addlocker" method="post">
            <button type="submit" class="btn btn-outline-info">Add locker</button>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}

{% if warning %}
<div class="alert alert-warning">
    <strong>Warning!</strong> {{ warning }}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}

{% endblock %}