{% extends 'layout.html' %}

{% block userlogo %}
<i class="{{animal_class}}"></i>
<p>{{animal_name}}</p>
{% endblock %}

{% block body %}
<div class=" container">
    <form action="" method="post" role="form">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Type user name..."
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" action="/check" method="post" class="btn btn-outline-info" name="check"
                    value="Check">
            </div>
        </div>
    </form>
    {% block check %}{% endblock %}
    {% block user %}{% endblock %}
    {% block locker %}{% endblock %}
</div>

{% endblock %}