{% extends 'layout.html' %}

{% block userlogo %}
<i class="{{animal_class}}"></i>
<p>{{animal_name}}</p>
{% endblock %}

{% block body %}

{% if data %}
<div class="card-deck text-center justify-content-center" style="margin: auto; ">
    {% for locker_id, is_empty in data.items() %}

    {% if is_empty == True %}
    <div class="card text-white bg-success mb-3" style="min-width: 11rem; max-width: 11rem; min-height: 5rem;">
        <div class="card-header">Locker {{locker_id}}</div>
    </div>
    {% endif %}

    {% if is_empty == False %}
    <div class="card text-white bg-danger mb-3" style="min-width: 11rem;  max-width: 11rem; min-height: 5rem;">
        <div class="card-header">Locker {{locker_id}}</div>
    </div>
    {% endif %}

    {% endfor %}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}

{% endblock %}