{% extends 'layout.html' %}

{% block userlogo %}
<i class="{{animal_class}}"></i>
<p>{{animal_name}}</p>
{% endblock %}

{% block body %}

{% if data %}
<div class="list-group" name="list-group"></div>
{% for name, locker_id in data.items() %}

{% if locker_id == None %}
<p class="list-group-item list-group-item-action list-group-item-light">{{name}}</p>
{% endif %}

{% if not locker_id == None %}
<p class="list-group-item list-group-item-action list-group-item-info">{{name}} : Locker {{locker_id}}</p>
{% endif %}

{% endfor %}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}

{% endblock %}